.card(style="width: 27rem").mb-5
  .card-body
    h5.card-title #{`${movie.name}, ${movie.premiered && movie.premiered.split('-')[0]}` }
    h6.card-subtitle.mb-2.text-muted #{movie.genres}
    
    .row.mb-2
      .col.col-12.col-sm-3.mb-2
        img(src=movie.image style="height: 8rem").d-block
      .col.col-12.col-sm-9.border.p-2
        h6.card-subtitle.mb-2 Subscriptions Watched
        include ./movie-subscriptions
    - var disabled = authUser && (authUser.permissions.isAdmin || authUser.permissions.subscriptions.update) ? "":"disabled"        
    a(href=`movies/${movie.id}` class=disabled)#editMovie.btn.btn-primary.mr-2 Edit
    - disabled = authUser && (authUser.permissions.isAdmin || authUser.permissions.subscriptions.delete) ? "":"disabled"        
    a(href=`movies/delete/${movie.id}` class=disabled)#deleteMovie.btn.btn-primary Delete