extends ./templates/container.pug
block content
  section.hero
    p.hero__text.m-0 
      | View and Filter Movies

  include includes/movies-nav
  h2.text-center.my-4 Movies
  if movies.length < 1
    p No movies, try another filter 
  else
    .row
      each movie in movies
        .col.col-6.d-flex.justify-content-center
          .card(style="width: 25rem").mb-5
            .card-body
              h5.card-title #{`${movie.name}, ${movie.premiered && movie.premiered.split('-')[0]}` }
              h6.card-subtitle.mb-2.text-muted #{movie.genres}
              
              .row.mb-2
                .col.col-3
                  img(src=movie.image style="height: 7rem").d-block
                .col.col-9.border
                  h6.card-subtitle.mb-2 Subscriptions Watched
              a(href="#").btn.btn-primary.mr-2 Edit
              a(href="#").btn.btn-primary Delete
  include ./includes/footer.pug 


