extends ./templates/container.pug
block content
  section.hero
      p.hero__text.m-0 
        | #{movie ? `Edit Movie: ${movie.name}`: "Create Movie"}
  
  include includes/movies-nav
  section.container.w-md-50
    form.row.g-3(action=movie ? `/movies/update/${movie._id}` : '/movies' method="POST")
      .form-group
        label(for="name") Name
        input(type="text" name="name" value=movie ? movie.name: "").form-control#name
      .form-group
        label(for="genres") Genres
        input(type="text" name="genres" value=movie ? movie.genres.toString(): '').form-control#genres
      .form-group
        label(for="image") Image URL
        input(type="text" name="image" value=movie ? movie.image: '').form-control#image
      .form-group
        label(for="image") Premiered
        input(type="text" name="premiered" value=movie ? movie.premiered:'').form-control#premiered
      .col-12
        button.btn.btn-secondary(type="submit") #{movie ? "Update" : "Create"}


  include ./includes/footer.pug
