extends ./templates/container.pug
block content
  section.hero
      p.hero__text.m-0 
        | #{editedUser ? "Update" : "Create"} User
  section.container.w-md-50.form-group
    form.row.g-3(action= "/users" method=(editedUser ? "PUT" : "POST"))
      input(type="hidden" id="userid" value= editedUser ? editedUser._id: null)
      .col-12
        label(for="username", class="form-label") User Name
        input(type="text" name="username" disabled= !!editedUser value= (editedUser ? `${editedUser.username}`:'')).form-control#username
      .col-12
        label(for="firstName", class="form-label") First Name
        input(type="text" name="firstName" value= (editedUser ? `${editedUser.firstName}`:'')).form-control#firstName
      .col-12
        label(for="lastName", class="form-label") Last Name
        input(type="text" name="lastName" value= (editedUser ? `${editedUser.lastName}`:'')).form-control#lastName
      .col-12
        label(for="sessionTimeOut", class="form-label") Session Time Out (Min)
        input(type="text" name="sessionTimeOut" value= (editedUser ? `${editedUser.sessionTimeOut}`:'')).form-control#sessionTimeOut
      .col-12
        .row.g-3
          .col-6
            .form-check
              input.form-check-input(type="checkbox" role="checkViewMovies" id="viewMovies" name="permissions" value="viewMovies" checked=(editedUser && editedUser.permissions["movies"]["view"]) ? 'checked':undefined)
              label.form-check-label(for="viewMovies")
                | View Movies
          
            .form-check
              input.form-check-input(type="checkbox" role="checkMovies" id="createMovies" name="permissions" value="createMovies" checked=(editedUser && editedUser.permissions["movies"]["create"]) ? 'checked':undefined)
              label.form-check-label(for="createMovies")
                | Create Movies
            .form-check
              input.form-check-input(type="checkbox" role="checkMovies" id="deleteMovies" name="permissions" value="deleteMovies" checked=(editedUser && editedUser.permissions["movies"]["delete"]) ? 'checked':undefined)
              label.form-check-label(for="deleteMovies")
                | Delete Movies
            .form-check
              input.form-check-input(type="checkbox" role="checkMovies" id="updateMovies" name="permissions" value="updateMovies" checked=(editedUser && editedUser.permissions["movies"]["update"]) ? 'checked':undefined)
              label.form-check-label(for="updateMovies")
                | Update Movies
          .col-6
            .form-check
              input.form-check-input(type="checkbox" role="checkViewSubscriptions" id="viewSubscriptions" name="permissions" value="viewSubscriptions" checked=(editedUser && editedUser.permissions["subscriptions"]["view"] ? 'checked':undefined))
              label.form-check-label(for="viewSubscriptions")
                | View Subscriptions
            .form-check
              input.form-check-input(type="checkbox" role="checkSubscriptions" id="createSubscriptions" name="permissions" value="createSubscriptions" checked=(editedUser && editedUser.permissions["subscriptions"]["create"] ? 'checked':undefined))
              label.form-check-label(for="createSubscriptions")
                | Create Subscriptions
            .form-check
              input.form-check-input(type="checkbox" role="checkSubscriptions" id="deleteSubscriptions" name="permissions" value="deleteSubscriptions" checked=(editedUser && editedUser.permissions["subscriptions"]["delete"] ? 'checked':undefined))
              label.form-check-label(for="deleteSubscriptions")
                | Delete Subscriptions
            .form-check
              input.form-check-input(type="checkbox" role="checkSubscriptions" id="updateSubscriptions" name="permissions" value="updateSubscriptions" checked=(editedUser && editedUser.permissions["subscriptions"]["update"] ? 'checked':undefined))
              label.form-check-label(for="updateSubscriptions")
                | Update Subscriptions

      .col-12      
        .form-check
          input.form-check-input(type="checkbox" id="isAdmin" name="permissions" value="isAdmin" checked=(editedUser && editedUser.permissions['isAdmin'] ? 'checked':undefined))
          label.form-check-label(for="isAdmin")
            | Admin      
      .col-12
        button#updateUser.btn.btn-secondary= (editedUser? `Update`:`Create`)
      

    //include ./includes/footer.pug